/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html, body, #root, .app {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.toolbar {
  flex: 1;
  height: 32px;
  border-top: 1px #e9e9e9 solid;
  border-bottom: 1px #e9e9e9 solid;
}

.main-container {
  display: flex;
  height: calc(100% - 32px)
}

.main-content {
  display: flex;
  flex: 1;
}

.menu-entry {
  display: flex;
  width: 27px;
  border-right: #e9e9e9 1px solid;
}
